<ul class="departments-panel"><li class="department active" data-department="Computing">
    <span class="js-nav-department">Computing</span>
    
</li><li class="department" data-department="Peripherals">
    <span class="js-nav-department">Peripherals</span>
    
</li><li class="department" data-department="Components">ˀ
    <span class="js-nav-department">Components</span>
    
</li><li class="department" data-department="Network &amp; Storage">
    <span class="js-nav-department">Network &amp; Storage</span>
    </li>
    
    <li class="department" data-department="TV &amp; Audio">
    <span class="js-nav-department">TV &amp; Audio</span>
    
</li><li class="department" data-department="Gadget &amp; Gifts">
    <span class="js-nav-department">Gadget &amp; Gifts</span>
   
</li>
<li class="department" data-department="Home &amp; Outdoors"><a href="/store/Home-Appliances">Smart Home &amp; CCTV</a></li>
    
    <li class="department" data-department="Office Furniture"><a href="/office-furniture">Office Furniture</a></li>
    
    <li class="department" data-department="Business"><a id="store-front-switcher" class="js-store-front-switcher" data-cookie-name="storeFront" href="#">Business</a></li>
    
    <li class="department" data-department="Clearance"><a href="/clearance">Clearance</a></li><li class="vat-switcher"></li</ul>